<!DOCTYPE html>
<html>
<head>
<title>
<%= name %>
</title>
<meta charset="utf-8">
<%= stylesheet %>
</head>
<body>
<h1 id="ptitle"><%= name %></h1>
<div id="psub">
	<span id="psubtitle"></span>
	<span id="pauthor"></span>
</div>
<div id="phistory"></div>
<div id="passage"></div>

<%= passages %>

<div id="proof" style="display:none;">
	Proofing 
	<label for="prfChk" id="prfName"></label>: <input id="prfChk" type="checkbox"/>
	<span id="leafChk" style="display:none;"> (all children checked) </span>
	<span id="prfPcnt">0%</span>
</div>
<%= script %>
</body>
</html>
