<!DOCTYPE html>
<html>
<head>
<title>
<%= name %>
</title>
<meta charset="utf-8">
<%= stylesheet %>
</head>
<body>
<h1 id="ptitle"><%= name %></h1>
<div id="psub">
	<span id="psubtitle"></span>
	<span id="pauthor"></span>
</div>
<div id="phistory"></div>
<div id="passage"></div>

<%= passages %>

<div id="proof" style="display:none;">
	<b>Proofing <span id="prfName">node</span>: </b>
	<label for="prfChk"> passage: </label><input id="prfChk" type="checkbox"/>
	<label for="leafChk"> children: </label><input id="leafChk" type="checkbox" disabled/>
	<span id="prfPcnt">0%</span>
</div>
<%= script %>
</body>
</html>
